/*.list-section {*/
/*    width: 100%;*/
/*}*/

.scroll-box {
    overflow-y: auto;
    padding-right: 4px;
}

.list-item {
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #eee;
    background-color: #fff;
    transition: all 0.2s ease;
}

.list-item:hover {
    filter: brightness(0.98);
}
.avatar-room{
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.avatar-room img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover
}

.item-name {
    font-weight: 700;
    margin-bottom: 4px;
}

.item-time {
    font-size: 13px;
    color: #040303;
    margin-left: 60px;
}

.list-item.is-user.active {
    border-color: #4f46e5;
    background-color: #f5f7ff;
}

.list-item.is-room.active {
    border-color: #10b981;
    background-color: #ecfdf5;
}

.list-item.is-room .item-name {
    color: #065f46;
}

.scroll-box::-webkit-scrollbar {
    width: 4px;
}
.scroll-box::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
}