.left-side-bar {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*height: 100%;*/
    position: relative; /* Để thanh resizer bám theo */
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-right: 1px solid #ddd;
    /* Loại bỏ width cố định ở đây vì đã dùng inline-style trong React */
    flex-shrink: 0; /* Không cho sidebar bị co lại bởi flex cha */
}

.sidebar-resizer {
    width: 5px;
    cursor: col-resize;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    transition: background 0.2s;
}
.sidebar-resizer:hover,
.sidebar-resizer:active {
    background: rgba(24, 144, 255, 0.5); /* Hiện màu xanh nhẹ khi kéo */
    width: 5px;
}
.sidebar-header {
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*padding: 15px;*/
    background-color: #f8e5fc;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
}

.my-profile {
}

.logout-btn-global {
    padding: 5px;
    border: 1px #1a1a1a solid;
}

.sidebar-top-section {
    padding: 16px;
}

.sidebar-bottom-section {
    flex: 1;
    min-height: 0;
    padding: 0 16px;
}

.tabs-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tabs-header {
    display: flex;
    background-color: #f9fafb;
    border-radius: 8px 8px 0 0;
}

.tab-button {
    flex: 1;
    padding: 12px;
    cursor: pointer;
    border: none;
    background: transparent;
    transition: all 0.2s ease;
    border-bottom: 1px solid #eee;
    color: #666;
    font-weight: normal;
}

.tab-button.active-user {
    border-bottom: 3px solid #4f46e5;
    color: #4f46e5;
    font-weight: bold;
}

.tab-button.active-room {
    border-bottom: 3px solid #10b981;
    color: #10b981;
    font-weight: bold;
}

.tab-content {
    flex: 1;
    overflow-y: auto;
    padding: 8px;
}

.tabs-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tabs-header {
    display: flex;
    background-color: #f9fafb;
}

.tab-button {
    flex: 1;
    padding: 12px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 14px;
    transition: all 0.2s ease;
    border-bottom: 1px solid #eee;
    color: #666;
    font-weight: normal;
}

.tab-button.active-user {
    border-bottom: 3px solid #4f46e5;
    color: #4f46e5;
    font-weight: bold;
}

.tab-button.active-room {
    border-bottom: 3px solid #10b981;
    color: #10b981;
    font-weight: bold;
}

.tabs-content {
    flex: 1;
    overflow-y: auto;
    padding: 8px;
}

.tabs-content::-webkit-scrollbar {
    width: 5px;
}

.tabs-content::-webkit-scrollbar-thumb {
    background: #e5e7eb;
    border-radius: 10px;
}