.mainChat {
    flex: 2;
    border-left: 1px solid #b3e5fc;
    border-right: 1px solid #b3e5fc;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #333333;
    background: linear-gradient(to right, #e6f7ff, #e6fffa);
}

.mainChat .topChat {
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #b3e5fc;
}

.mainChat .topChat .user {
    display: flex;
    padding-left: 20px;
    align-items: center;
    gap: 20px;
}

.mainChat .topChat .user img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.mainChat .topChat .user .texts {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.mainChat .topChat .user .texts span {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

.mainChat .topChat .user .texts p {
    margin: auto;
    font-size: 14px;
    font-weight: 300;
    color: #666666;
}

.mainChat .topChat .icon {
    display: flex;
    gap: 15px;
    padding-right: 20px;
}

.mainChat .topChat .icon img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.mainChat .centerChat {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 20px;
    background: #f0f3f8;
}

.mainChat .centerChat::-webkit-scrollbar {
    width: 10px;
}

.mainChat .centerChat::-webkit-scrollbar-thumb {
    background-color: rgba(0, 188, 212, 0.3);
    border-radius: 5px;
}

.mainChat .centerChat::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
}
.messages {
    display: flex;
    justify-content: flex-start; /* người khác: lề trái */
    margin-bottom: 10px;
    margin-top: 0; !important;
}

.messages.own {
    justify-content: flex-end; /* của mình: lề phải */
}

.mainChat .centerChat .messages {
    max-width: 70%;
    display: flex;
    gap: 20px;
}


.mainChat .centerChat .messages img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.mainChat .centerChat .messages .texts {
    /*flex: 1;*/
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/*Tin nhắn của đối phương*/
.messages .texts .sender-name {
    font-size: 11px;
    font-weight: 600;
    color: #666;
    margin-bottom: 2px;
    display: block;
    text-align: left;
}

.mainChat .centerChat .messages .texts p{
    background-color: #dcd8f8;
    /*margin: auto;*/
    color: black;
    border-radius: 20px;
    padding: 18px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    align-self: flex-start;
    margin-top: 0;

    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
}
.mainChat .centerChat .messages .texts span {
    font-size: 13px;
    color: #666666;
}

.mainChat .centerChat .messages .texts img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.mainChat .centerChat .messages.own {
    align-self: flex-end;
    justify-content: flex-end;
}

.mainChat .centerChat .messages.own .texts {
    align-items: flex-end;
    text-align: right;
}

.mainChat .centerChat .messages.own .texts p {
    background-color: #bdeff4;
    color: black;
    border-radius: 20px;
    padding: 18px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    align-self: flex-end;
}

.mainChat .bottomChat {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #b3e5fc;
    gap: 20px;
    margin-top: auto;
}

.mainChat .bottomChat .icons {
    display: flex;
    gap: 20px;
}

.mainChat .bottomChat img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.mainChat .bottomChat input {
    flex: 1;
    background-color: #ffffff;
    border: 1px solid #b3e5fc;
    outline: none;
    color: #333333;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
}

.mainChat .bottomChat input::placeholder {
    color: #999999;
}

.mainChat .bottomChat input:focus {
    border-color: #00bcd4;
    box-shadow: 0 0 5px rgba(0, 188, 212, 0.3);
}

.mainChat .bottomChat .emoji {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.emojiPicker {
    position: absolute;
    bottom: 20px;
    right: -100px;
    margin-bottom: 15px;
    z-index: 1000;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    border-radius: 8px;
}

.mainChat .bottomChat .sendButton {
    background-color: #00bcd4;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s;
}

.mainChat .bottomChat .sendButton:hover {
    background-color: #00acc1;
}

.noConversation{
    display: flex;
    justify-content: center;
    align-items: center;
}

.stickerPicker {
    position: absolute;
    bottom: 80px;
    right: 0;
    width: 320px;
    height: 300px;
    background: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    overflow-y: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    z-index: 100;
}